html{
    font-family: Helvetica;
    background-color: #f57a94;
}

.container{
    max-width: 1200px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}


.bold{
    font-weight: bold;
}

.header{
    text-align: center;
}

.main-title{
    font-size: 50px;
    background-color: #f57a94;
    padding: 30px;
}

.main-paragraph{
    font-style: italic;
    font-size: 20px;
    padding: 10px;
}

.featured-image{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.foto-gato {
    width: 400px;
    border: 2px solid #130609;
    border-radius: 10px; 
}


.biography-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed;
    border-bottom:  1px dashed;
}

.foto-redonda {
    width: 150px;
    height: auto;
}

.img-bold blockquote{
    font-weight: bold;
    font-size: 20px;
    background-color: #ddd;
    padding: 20px;
}

.quotes-container{
    background-color: #ddd;
    padding: 20px;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 20px;
}

.quotes-container p {
    font-style: italic;
}

.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
    height: 30px;
    font-weight: bold;
}

.img-bold{
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    text-align: center;
}


